.arrow-right {
    margin: 150px 0px 0px 0px;
    position: absolute;
    transform-origin: right center;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid rgba(128,128,128, 0.45);
    z-index: 3;
}