.example {
  --black: #000000;
  --white: #fafafa;
  --lime: #84cc16;

  --background: var(--white);
  --accent: var(--lime);

  color: var(--accent);
  display: flex;
}

.s_ul {
  /* display: flex; */
  width: 200px;
  height: 200px;
  list-style: none;
  flex-direction: column;
  gap: 20px;
}

.s_li {
  flex-direction: row;
  background: var(--accent);
  height: 40px;
  width: 100%;
  border: solid 1px black;
}

.s_ul,
.s_li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
}

.s_button {
  background: var(--accent);
  color: var(--background);
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 150px;
}

.topArrow {
  width: 3rem;
  margin-right: 1rem;
}

.topText {
  width: 3rem;
  margin-left: -2rem;
  font: bold 20px sans-serif;
}
