.div-side {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.aside-side {
  background-color: #ecfccb;
  min-width: fit-content;
  padding-right: 24px;
  max-width: 400px;
}
.button-div {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 10;
}
.button-side {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 100%;
  border-color: #d9f99d;
  border-width: 3px;
  width: 40px;
  height: 40px;
}
.button-side:hover {
  background-color: #84cc16;
}

.headLineSide {
  font-size: large;
  font-weight: bold;
  margin-left: 4rem;
}

.pseudoCodeWrapper {
  position: relative;
}

.pseudoCodeContainer {
  font-family: monospace;
  font-size: 14px;
  background-color: #ecfccb;
  border: 2px solid #ecfccb;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left; /* text pseudo code will start from left */
  white-space: pre-wrap; /* spaces */
}

.pseudoCodeContainer div {
  margin: 5px 0;
}

.highlighted {
  background-color: #a3e635; /* green background for row pseudocode */
}

.hamburgerWrapper {
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 1000;
}
.hamburgerWrapper2 {
  position: fixed;
  top: 100px;
  right: 10px;
  z-index: 1000;
}

.tableWrapper {
  position: absolute;
  top: 410px; /* Setting the value for moving the table vertically */
  right: 290px; /* Setting the value for moving the table horizontally */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tableWrapperDjikstra {
  position: absolute;
  top: 310px; /* Setting the value for moving the table vertically */
  right: 230px; /* Setting the value for moving the table horizontally */
  top: 500px; /* Setting the value for moving the table vertically */
  right: 300px; /* Setting the value for moving the table horizontally */
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.queueWrapper {
  margin-top: 20px;
}

.queueWrapper ul {
  list-style-type: none;
  padding: 0;
}

.queueWrapper li {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

/* В файле styles.module.css */
.highlightedNode {
  stroke: yellow;
  stroke-width: 3px;
}
