.branch-of-list {
    margin-top: 150px;
    position: absolute;
    height: 2px;
    background-color: black;
    transform-origin: left center;
    z-index: 0;
}

.node-selected::before {
    content: attr(data-id);
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 9px);
    background-color: #83cb16;
    color: #000;
    padding-top: 2px;
    clip-path: polygon(0% 40%, 20% 40%, 20% 100%, 80% 100%, 80% 40%, 100% 40%, 50% 0%);
    height: 24px;
    width: 24px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 999;
}

.hashNode-selected::before {
    content: attr(data-id);
    display: block;
    position: absolute;
    top: 30%;
    left: -30px;
    transform: translate(-50%, 9px) rotate(90deg);
    background-color: #83cb16;
    color: #000;
    padding-top: 2px;
    clip-path: polygon(0% 40%, 20% 40%, 20% 100%, 80% 100%, 80% 40%, 100% 40%, 50% 0%);
    height: 24px;
    width: 24px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 999;

}

.node-of-list {
    display: flex;
    position: absolute;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 5%;
    border: 2px solid #84cc16;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffe0ff;
    z-index: 2;
}

.half {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8px;
    height: 100%;
    border-right: #65a30d solid;
}

.half2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;
}

.null-node {
    display: flex;
    position: absolute;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #84cc16;
    font-size: 16px;
    font-weight: bold;
    background-color: #ffffe0ff;
    z-index: 2;

}

.line-for-null {
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: black;
    z-index: 0;
    transform: rotate(-45deg);
}

.head-of-list {
    position: absolute;
    bottom: 40px;
}

