@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.swal-button {
  background-color: #84cc16;
  font-size: 12px;
  border: 1px solid #65a30d;
}
.swal-button:not([disabled]):hover {
  background-color: #65a30d;
}
.swal-text {
  font-size: 20px;
  font-weight: 500;
}
